<ion-view view-title="Browse">
  <ion-content>
    <ul class="list list-inset">
      <li class="item item-icon-right">
        1
        <i class="icon ion-pound"></i>
      </li>
      <li class="item">2
        <button class="button button-large button-calm">大按钮</button>
        <button class="button button-small button-energized">小按钮</button>
      </li>
      <li class="item item-toggle">
        iMessage
        <label class="toggle toggle-balanced">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <li class="item">4
        <div class="badge assertive-bg">23</div>

      </li>
      <li class="item">5</li>
    </ul>
  </ion-content>
</ion-view>
