<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1"  ng-controller="myVc">
    <tr>
        <td>账号</td>
        <td><input type="text" placeholder="输入用户名" ng-model="user.account"/></td>
    </tr>
    <tr>
        <td>密码</td>
        <td><input type="password" placeholder="输入密码" ng-model="user.pwd"/></td>
    </tr>
    <tr>
        <td><input type="button" value="登陆" ng-click="login()"></td>
        <td></td>
    </tr>
    <tr>
        <td>{{message}}</td>
        <td></td>
    </tr>
</table>

<script src="bower_components/angular/angular.js"></script>
<script>
    var app = angular.module("myapp",[]);
    app.controller("myVc",function ($scope) {
        $scope.user = {
            account:"",
            pwd:""
        };
        $scope.message = "请输入用户名";
        
        
        $scope.$watch("user.account",function (now,old) {
            console.log("now="+now);
            console.log("old="+old);
            if(now){
                if(now.length < 7){
                    $scope.message = "您输入的长度不合法";
                }else{
                    $scope.message ="";
                }
            }else{
                $scope.message = "请输入用户名";
            }
        })

        $scope.login = function () {
            console.log($scope.user);
        }
    })
</script>
</body>
</html>

